<div id="input-partial">
  <h1>Восстановление пароля</h1>
  <form method="post" id="mainForm">
    <p class="error" id="error"></p>

    <fieldset>
      <ol>
        <li>
          <label for="input-email">Электронная почта</label>
          <input id="input-email" type="email" name="email" autofocus>
        </li>
      </ol>
    </fieldset>

    <p class="actions"><button type="submit" name="submit">Отправить письмо для восстановления пароля</button></p>

    <p class="actions"><a id="input-login-link" href="" class="link">Войти в систему</a></p>
  </form>
</div>
<div id="response-partial">
  <h1>Письмо отправлено</h1>
  <p>Если ваша учетная запись существует, то на электронную почту было отправлено письмо со ссылкой для восстановления пароля.</p>
  <p>Если вы не получили письмо в течение нескольких минут, то проверьте корзину спама или попробуйте запросить отправку другого письма.</p>

  <ul class="actions">
    <li><a id="response-login-link" href="" class="link">Вернуться ко входу в систему</a></li>
    <li><a id="response-forgot-link"  href="" class="link">Вернуться к восстановлению пароля</a></li>
  </ul>
</div>

<script>
  addControlLinks('<%= idpIndex %>', {
    'input-login-link': 'login',
    'response-login-link': 'login',
    'response-forgot-link': 'forgotPassword'
  });

  setVisibility('response-partial', false);
  function updateResponse() {
    // Swap visibility
    setVisibility('input-partial', false);
    setVisibility('response-partial', true);
  }
  addPostListener('mainForm', 'error', '', updateResponse);
</script>
